:root {
    --slider-bg: #3b4050;
    --header-footer-bg: #2e323f;
    --light-color-font: #ffffff;
    --heading-color-font: #a59678;
    --footer-color-font: #6f737f;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Oswald", sans-serif;
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--primary-font);
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
section, footer {
    padding: 4em 0;
}
img {
    max-width: 100%;
}
.hero h1 {
    font-size: 4.8rem;
    font-family: var(--secondary-font);
    margin-top: 0;
}
.special__text {
    color: var(--heading-color-font);
}
.section-title {
    color: var(--heading-color-font);
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    margin-top: 0;
}
.primary-content p {
    font-size: 1.3rem;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-color-font);
    font-weight: 900;
    background-color: var(--heading-color-font);
    padding: 0.2em 2em;
    border-radius: 100px;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:focus,
.btn:hover {
    opacity: 0.75;
}
header {
    background: var(--header-footer-bg);
    font-family: var(--secondary-font);
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
}
.nav {
    width: 80%;
    margin: 0 auto;
}
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background: var(--main-bg-color-four);
    color: #fff;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}
.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}
.hamburger {
    width: 50%;
    position: relative;
}
.hamburger,
.hamburger::after,
.hamburger::before {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: #fff;
}
.hamburger::after,
.hamburger::before {
    content: "";
    width: 100%;
}
.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}
.logo {
    height: 30px;
}
.hero {
    background-color: var(--slider-bg);
    color: var(--light-color-font);
}
.about {
    background-color: #f1f1f1;
    text-align: center;
}
.about__title {
    color: var(--heading-color-font);
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    margin-top: 0;
}
.sidebar {
    text-align: center;
    color: var(--light-color-font);
}
.sidebar-title {
    font-family: var(--secondary-font);
}
.sidebar__subsection {
    background-color: var(--header-footer-bg);
    padding: 1.5em;
    margin-bottom: 2em;
}
.sidebar__subsection p {
    font-size: 1.1rem;
    font-weight: 400;
}
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: var(--light-color-font);
    font-size: 1rem;
}
.nav__item {
    padding-top: 0.75em;
}
.nav__link--button {
    padding: 0.2em 0.5em;
    background-color: var(--light-color-font);
    border-radius: 1em;
    color: var(--main-bg-color-four);
}
.nav__link:active,
.nav__link:hover {
    color: var(--main-bg-color-three);
}
.footer {
    background-color: var(--header-footer-bg);
}
.footer__title {
    font-size: 3rem;
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--heading-color-font);
}
.footer__subtitle {
    color: var(--heading-color-font);
    font-size: 1.2rem;
    font-family: var(--secondary-font);
}
.footer p,
.footer__links {
    font-size: 1rem;
    color: var(--footer-color-font);
}
.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__links li {
    padding-bottom: 1em;
}
.primary-content img {
    width: 100%;
}
@media (min-width: 700px) {
    .nav-toggle {
        display: none;
    }
    .nav {
        visibility: visible;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        height: auto;
    }
    .nav__list {
        display: flex;
        margin: 0;
    }
    .nav__item {
        margin: 0;
        padding-right: 1em;
    }
    .hero .row {
        align-items: center;
    }
    .hero__text {
        width: 50%;
    }
    .hero__button {
        width: 50%;
        font-size: 1.5rem;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    .col + .col {
        margin-left: 6em;
    }
    .primary-content {
        width: 62%;
    }
    .sidebar {
        width: 32%;
    }
    .footer__about {
        width: 40%;
    }
    .footer__quicklinks {
        width: 55%;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 1000px) and (min-width: 700px) {
    .main.row {
        display: block;
    }
    .primary-content {
        width: 100%;
    }
    .sidebar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .sidebar__subsection + .sidebar__subsection {
        margin-left: 1em;
    }
    .footer__about {
        width: 100%;
    }
    .footer__quicklinks {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}